## **Positional and Keyword Arguments**

In [1]:
def my_func(a, b, c):
    print(f'a={a}, b={b}, c={c}')

In [2]:
my_func(1, 2, 3)

a=1, b=2, c=3

Giving default values to arguments,

In [3]:
def my_func(a=1, b=2, c=3):
    print(f'a={a}, b={b}, c={c}')

In [4]:
my_func(10,20,30)

a=10, b=20, c=30

In [5]:
my_func(10)

a=10, b=2, c=3

In [6]:
my_func(c=20,a=10,b=35)

a=10, b=35, c=20

In [7]:
my_func(10, c=20, b=10)

a=10, b=10, c=20

In [8]:
# my_func(a=10, 20, 30) - this is not allowed because positional argument follows keyword argument

#### **Side Note on Tuples**

What defines a Tuple is not `()` but `,`. <br>
To create a single element tuple, `(1)` will not work, you have to write `(1,)`. <br>
But to create an empty tuple, you can use `()` or `tuple()`.

In [9]:
t = (1)

In [10]:
print(t)

1

In [11]:
type(t)

int

In [12]:
t = (1,)

In [13]:
print(t)

(1,)

In [14]:
type(t)

tuple

In [15]:
t = 1, 2, 4 # this also creates a tuple

In [16]:
t

(1, 2, 4)

In [17]:
type(t)

tuple

In [18]:
t = ()

In [19]:
print(t)

()

In [20]:
type(t)

tuple

## **Unpacking Iterables**

In [21]:
a, b, c = [1, 2, 3]

In [22]:
print(a, b, c)

1 2 3

In [23]:
a, b, c = 10, 'hello', [1, 2]

In [24]:
a

10

In [25]:
b

'hello'

In [26]:
c

[1, 2]

To swap two variable,

In [27]:
a = 10
b = 20

a, b = b, a

In [28]:
a

20

In [29]:
b

10

This works in Python because the entire RHS is evaluated first and completely, then assignments are made to LHS.

In [30]:
lst = [1, 2, 3, 4, 5, 6]

a, b = lst[0], lst[1:]

In [31]:
a

1

In [32]:
b

[2, 3, 4, 5, 6]

The below syntax extracts first object in an iterable and stuff it inot first variable, <br>
then creates a list of remaining objects and put it in second variable. The `*` operator is used for this.

In [33]:
c, *d = lst

In [34]:
c

1

In [35]:
d

[2, 3, 4, 5, 6]

In [36]:
e, *f = (-10, 5, 2, 100)

In [37]:
e

-10

In [38]:
f # notice this is a list but we unpacked from a tuple

[5, 2, 100]

In [39]:
a, *b = 'xyz'

In [40]:
a

'x'

In [41]:
b

['y', 'z']

In [42]:
a, b, *c = 1, 2, 3, 4, 5

In [43]:
print(a, b, c)

1 2 [3, 4, 5]

In [44]:
a, b, *c, d = [1, 2, 3, 4, 5, 6]

In [45]:
print(a, b, c, d)

1 2 [3, 4, 5] 6

In [46]:
a, *b, c, d = 'python'

In [47]:
print(a, b, c, d)

p ['y', 't', 'h'] o n

The `*` operator can only be used once on the LHS, so something like `a,*b,c,*d = list` is not allowed.

The `*` operator can also be used on RHS.

In [48]:
l1 = [1,2,3]
l2 = [4,5,6]

In [49]:
l3 = [*l1, *l2]

In [50]:
l3

[1, 2, 3, 4, 5, 6]

In [51]:
s = 'uvwxyz'
l4 = [*s]

In [52]:
l4

['u', 'v', 'w', 'x', 'y', 'z']

The `*` operator can also be used with sets and dictionaries but the since they're unordered types, the unpacking order may differ.

In [53]:
d1 = {'p': 1, 'y': 2}
d2 = {'t': 3, 'h': 4}
d3 = {'h': 5, 'o': 6, 'n': 7}

In [54]:
d = [*d1, *d2, *d3] # extracts the keys of the dictionary and puts in the list

In [55]:
d

['p', 'y', 't', 'h', 'h', 'o', 'n']

To get key-value pairs, use `**` operator, this operator cannot be used on LHS of an assignment. <br>
This operator only works with dictionary.

In [56]:
d = {**d1, **d2, **d3}

In [57]:
d # note that the value of 'h' in d3 overwrote the first value of 'h' found in d2

{'p': 1, 'y': 2, 't': 3, 'h': 5, 'o': 6, 'n': 7}

Nested unpacking,

In [58]:
l = [1, 2, [3, 4]]

In [59]:
a, b, (c, d) = l

In [60]:
print(a, b, c, d)

1 2 3 4

In [61]:
a, *b, (c, d, e) = [1, 2, 3, 'xyz']

In [62]:
print(a, b)

1 [2, 3]

In [63]:
print(c, d, e)

x y z

More than 1 `*` operator on LHS is allowed, if it is nested.

In [64]:
a, *b, (c, *d) = [1, 2, 3, 'python']

In [65]:
print(a, b)

1 [2, 3]

In [66]:
print(c, d)

p ['y', 't', 'h', 'o', 'n']

## **\*args**

In [67]:
def func1(a, b, *args): # it is customary to use *args but technically we can use any word followed by '*'
    print(a)
    print(b)
    print(args)

In [68]:
func1(10, 20)

10
20
()

In [69]:
func1(10, 20, 1, 2, 3) # notice *args created tuple here and not list

10
20
(1, 2, 3)

In [70]:
def avg(*args):
    count = len(args)
    total = sum(args)

    return count and total/count

In [71]:
avg(2, 2, 4, 4)

3.0

In [72]:
avg()

0

In [73]:
def func2(a, b, c, *args):
    print(a)
    print(b)
    print(c)
    print(args)

In [74]:
l = [1, 2, 3, 4, 5]

func2(*l)

1
2
3
(4, 5)

In [75]:
def func3(a, b, *args, c):
    print(a, b, args, c)

In [76]:
func3(1, 2, 3, 4, c=5)

1 2 (3, 4) 5

In [77]:
def func4(*args, d):
    print(args, d)

In [78]:
func4(1, 2, 3, d='a')

(1, 2, 3) a

In [79]:
func4(d='b')

() b

In [80]:
def func5(*, d): # here '*' means the end of positional arguments, so here no positional argument can be passed
    print(d)

In [81]:
func5(d=100)

100

In [82]:
def func6(a, b=2, *args, d):
    print(a, b, args, d)

In [83]:
func6(1, 5, 3, 4, d='a')

1 5 (3, 4) a

In [84]:
def func6(a, b=2, *args, d=0, e):
    print(a, b, args, d, e)

In [85]:
func6(5, 4, 3, 2, 1, e ='all engines running')

5 4 (3, 2, 1) 0 all engines running

In [86]:
func6(0, 600, d='good morning', e='python!')

0 600 () good morning python!

## **\*\*kwargs**

No parameters can come after `**kwargs`

In [87]:
def func1(**kwargs):
    print(kwargs)

In [88]:
func1(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [89]:
def func2(*args, **kwargs):
    print(args)
    print(kwargs)

In [90]:
func2(1, 2, x=100, y=200)

(1, 2)
{'x': 100, 'y': 200}

In [91]:
def func3(a, b, *, d, **kwargs): # a named argument should follow '*', so '**kwargs' cannot come directly after '*'
    print(a)
    print(b)
    print(d)
    print(kwargs)

In [92]:
func3(1, 2, x=100, y=200, d='a')

1
2
a
{'x': 100, 'y': 200}